.title {

    color: white;

    background-color: #94E0F0;

    margin: 15px;

    border-color: #2655A5;

    border-radius: 25px;

    width: 180px;

    height: 30px;

    font-size: 20px;

    font-weight: 700;

    text-shadow: -2px 0px 0px #417080;

}



.title:active {

    border-style: outset;

}



header {

    background-color: #6A87FD;

    margin: -8px;

    border-bottom: 3px solid black;

}



#pokeball {

    width: 15px;

    height: 15px;

}



.pokemon-number {

    background-color: #1E2A74;

    color: white;

    font-size: 20px;

    border-radius: 25px;

    height: 30px;

    border-color: #0B1A5F;

}



.pokemon-number:active {

    border-style: outset;

}



body {

    background-color: #5668B4;

    font-family: Arial, Helvetica, sans-serif;

}



.pokemon-img-container {

    background-color: white;

    margin-top: 10%;

    width: 256px;

    height: 256px;

    border-radius: 20px;

    border-color: #F7F165;

    border-style: solid;

    border-width: 5px;

}



#pokemon-img {

    width: 256px;

    height: 256px;

    border-radius: 15px;

}
  
  .pokemon-liste::-webkit-scrollbar {
    width: 10px;
  }
  
  .pokemon-liste::-webkit-scrollbar-track {
    background: #1B425F;
  }
  
  .pokemon-liste::-webkit-scrollbar-thumb {
    background: #EA5247;
  }

  .ajoutpokemon {
    margin-top: 5px;
    background-color: limegreen;
    border-color: lime;
    width: 266px;
    margin-left: -5px;
    height: 30px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
  }

  .searchpokemon {
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(202, 206, 202);
    width: 266px;
    margin-left: -5px;
    height: 30px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
  }

  .resetsearch {
    margin-top: 5px;
    background-color: rgb(199, 83, 83);
    border-color: rgb(194, 65, 65);
    width: 266px;
    margin-left: -5px;
    height: 30px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-weight: 700;
  }

  .github {
    margin-top: 5px;
    background-color: #24292e;
    border-color: #1b1f23;
    width: 266px;
    margin-left: -5px;
    height: 30px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 700;
  }
  

  @media screen and (max-width: 599px) {
    .pokemon-liste {
      overflow: auto;
      color: white;
      height: 25vh;
      float: right;
      margin-top: 110px;
      direction: rtl;
      width: 101%;
      margin-right: -8px;
    }

    .pokemon {
      background-color: #F0954C;
      border-color: #FFEDA8;
      width: 80%;
      height: 35px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      margin-top: 1px;
      color: white;
      font-size: 24px;
      font-weight: 700;
      transition: width 0.3s ease-in-out, height 0.3s ease-in-out; 
    }
    
    .pokemon:hover {
      width: 90%;
      height: 40px;
    }

    .ajoutpokemon, .pokemon-img-container {
      margin: 0 auto;
    }

    .pokemon-img-container
    {
      margin-top: 15px;
    }

    .ajoutpokemon
    {
      margin-left: -5px;
      margin-top: 2px;
    }
  }

  @media screen and (min-width: 600px) {
    .container {
      display: flex;
    }  
    .pokemon-liste {
      overflow: auto;
      color: white;
      height: 80vh;
      float: right;
      margin-top: 10px;
      direction: rtl;
      width: 100%;
      margin-right: -8px;
    }

    .pokemon {
      background-color: #F0954C;
      border-color: #FFEDA8;
      width: 80%;
      height: 35px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      margin-top: 1px;
      color: white;
      font-size: 24px;
      font-weight: 700;
      transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    }
    
    .selected:hover {
      width: 85%;
      height: 40px;
    }

    .selected {
      width: 85%; /* Change size only for selected button */
      height: 40px;
    }
  }